@charset "UTF-8";
#toolbar{
	background: black;
	color: white;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:20px; /* dimensionamento assoluto invece che relativo per mantenere consistenza cross-site */
	}
#toolbar *{
	margin:0;
	padding:0;
}
#toolbar ul li{
	display:inline;
	list-style-type:none;
	margin:auto 1ex;
}
#toolbar ul li, #toolbar ul{
	vertical-align: top;
}
.sites{
	position: absolute;
	top:0;
	left:0;
}
.sso{
	position:absolute;
	top:0;
	right:0;
	font-size:10px;
}
#toolbar a{text-decoration:none;color:#ccc;}
#toolbar a:hover{color:red}
#toolbar a:visited{color:#ccc}
#toolbar a:active{color:red}
#toolbar .icon{
	height: 18px;
}
@media print {
#toolbar{display:none}
}