<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset=UTF-8 />
<link rel="stylesheet" href="./cdn/stile.css" />
<title>Partito Pirata - <!--templating:fancytitle--></title>
</head>
<body>
<!--include:ppheader-->
<div id="dacolumn">
<img class="logo" alt=""  src="./cdn/signet.png"/>
<div id="sitehead">
<h1 class="sitename tribuna">Tribuna</h1>
<!--include:sitenav-->
</div>
<div id="sitecont" class="rettangolo">
<p>Nota: stiamo costruendo la Tribuna Politica. Sono elencati solo contenuti
dimostrativi.</p>
<!--include:indexintro-->
<!--include:textgoeshere-->
</div>
</div>
<!--include:ppfooter-->
</body>
</html>
